<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_$!&lt;Mobile&gt;!$_</key>
	<string>移动</string>
	<key>_$!&lt;iPhone&gt;!$_</key>
	<string>iPhone</string>
	<key>_$!&lt;Home&gt;!$_</key>
	<string>住宅</string>
	<key>_$!&lt;Work&gt;!$_</key>
	<string>工作</string>
	<key>_$!&lt;Main&gt;!$_</key>
	<string>主要</string>
	<key>_$!&lt;HomeFAX&gt;!$_</key>
	<string>住宅传真</string>
	<key>_$!&lt;WorkFAX&gt;!$_</key>
	<string>工作传真</string>
	<key>_$!&lt;OtherFAX&gt;!$_</key>
	<string>其他传呼</string>
	<key>_$!&lt;Paper&gt;!$_</key>
	<string>传呼</string>
	<key>_$!&lt;Other&gt;!$_</key>
	<string>其他</string>
</dict>
</plist>
